h1{
  color: crimson;
  text-align: center;



}



h2{
  color: white;

}

body {

    background-color: lightblue;
    color: white;

}
li{
  color: blue;
}

  

*{
  background-color:lightblue;

}
