<style type="text/css" media="all">

*{
  background-color: green;
}

/*css reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, code, small, strike, strong, sub, sup, b, u, i {
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
    text-align: center;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
body {
    line-height:1;
    font:normal 0.9em/1em"Comic Sans MS", Helvetica, Arial, sans-serif;
    background-color: green;

}
ol, ul {
    list-style:none;
}
strong {
    font-weight:700;
}
#frame {
    max-width:620px;
    width:auto;
    border:1px solid #ccc;
    background:green;
    padding:10px;
    margin:3px;
}
h1 {
    font:normal bold 2em/1.8em"Comic Sans MS", sans-serif;
    text-align:center;
    border-bottom:1px solid #999;
    padding:0;
    width:auto
    color: white;
}
h2 {
    font:italic bold 1.3em/1.2em"Comic Sans MS", sans-serif;
    padding:0;
    text-align:center;
    margin:20px 0;
}
p.pager {
    margin:5px 0 5px;
    font:bold 1em/1em"Comic Sans MS", sans-serif;
    color:#999;
}
img.question-image {
    display:block;
    max-width:250px;
    margin:10px auto;
    border:1px solid #ccc;
    width:100%;
    height:auto;
}
#choice-block {
    display:block;
    list-style:none;
    margin:0;
    padding:0;
}
#submitbutton {
    background:#5DADE2 ;
}
#submitbutton:hover {
    background:#AED6F1;
}
#explanation {
    margin:0 auto;
    padding:20px;
    width:75%;
}
.choice-box {
    display:block;
    text-align:center;
    margin:8px auto;
    padding:10px 0;
    border:1px solid #666;
    cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
}
</style>
